extends ./layout/common 
block content
    .slidewrapper
        .cacslide
            ul.wrapper_li
                li.active
                    .motslide
                        .container
                            .row
                                .col-md-6.content_header_col_1
                                    ul
                                        li USA
                                        li MAR 21, 2019
                                        li IMDB: 5.8/10
                                    h1
                                        | Wonder 
                                        br
                                        |  Park
                                    p
                                        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum, dolor sit
                                        | amet consectetur adipisicing elit.
                                    .button_custom
                                        a(href='') Watch now
                                .col-md-6.content_header_col_2
                                    .anh(style="background-image:url('../images/index-img-04-356x412.jpg');")
                                    .frame_background_first
                                    .frame_background
                                    .image_tille
                                        span ACTION
                li
                    .motslide
                        .container
                            .row
                                .col-md-6.content_header_col_1
                                    ul
                                        li USA
                                        li MAR 21, 2019
                                        li IMDB: 5.8/10
                                    h1
                                        | Wonder 
                                        br
                                        |  Park
                                    p
                                        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum, dolor sit
                                        | amet consectetur adipisicing elit.
                                    .button_custom
                                        a(href='') Watch now
                                .col-md-6.content_header_col_2
                                    .anh(style="background-image:url('../images/index-img-05-356x412.jpg')")
                                    .frame_background_first
                                    .frame_background
                                    .image_tille
                                        span ACTION
                li
                    .motslide
                        .container
                            .row
                                .col-md-6.content_header_col_1
                                    ul
                                        li USA
                                        li MAR 21, 2019
                                        li IMDB: 5.8/10
                                    h1
                                        | Wonder 
                                        br
                                        |  Park
                                    p
                                        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum, dolor sit
                                        | amet consectetur adipisicing elit.
                                    .button_custom
                                        a(href='') Watch now
                                .col-md-6.content_header_col_2
                                    .anh(style="background-image:url('../images/index-img-06-356x412.jpg')")
                                    .frame_background_first
                                    .frame_background
                                    .image_tille
                                        span ACTION
        .chuyensilde
            ul
                li.kichhoat 1
                li 2
                li 3
    section.popular_movies.section_padding
        .pm_heading_text.text-center
            h2 Popular Movies
            p.p-long Here are some of the most popular movies that our users &amp; viewers enjoy.
        .container
            .owl-carousel.owl-theme
                if films
                    each val, index in films
                        .item
                            img.img__carousel(src='./upload/'+val.image, alt='')
                            .info_fiml.text-white
                                h3.fiml_name
                                    a(href='') val.name
                                i.fas.fa-calendar-day
                                h6.product_year(style='display: inline-block;') val.manufacture_year
                                h6.category val.genre
    section.popular_categories.section_padding
    .container
        .row.d-flex
        .col-md-8
            .container
            .row
                .col-md-6.mb-4.destination-1-image
                img.img-fluid(src='./img/destinations-2-363x260.jpg', alt='')
                p.theme_img TV Show
                .col-md-6.mb-4
                img.img-fluid(src='./img/destinations-2-363x260.jpg', alt='')
                .col-md-6.mb-4
                img.img-fluid(src='./img/destinations-2-363x260.jpg', alt='')
                .col-md-6.mb-4
                img.img-fluid(src='./img/destinations-2-363x260.jpg', alt='')
                .col-md-6.mb-4
                img.img-fluid(src='./img/destinations-2-363x260.jpg', alt='')
                .col-md-6.mb-4
                img.img-fluid(src='./img/destinations-2-363x260.jpg', alt='')

block footer
