extends ./layout/common 
block content
    .slidewrapper
        .cacslide
            ul.wrapper_li
                li.active
                    .motslide
                        .container
                            .row
                            .col-md-6.content_header_col_1
                                ul
                                li USA
                                li MAR 21, 2019
                                li IMDB: 5.8/10
                                h1
                                | Wonder 
                                br
                                |  Park
                                p
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum, dolor sit
                                | amet consectetur adipisicing elit.
                                .button_custom
                                a(href='') Watch now
                            .col-md-6.content_header_col_2
                                .anh(style="background-image:url('./img/index-img-06-356x412.jpg')")
                                .frame_background_first
                                .frame_background
                                .image_tille
                                span ACTION
                li
                    .motslide
                        .container
                            .row
                            .col-md-6.content_header_col_1
                                ul
                                li USA
                                li MAR 21, 2019
                                li IMDB: 5.8/10
                                h1
                                | Wonder 
                                br
                                |  Park
                                p
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum, dolor sit
                                | amet consectetur adipisicing elit.
                                .button_custom
                                a(href='') Watch now
                            .col-md-6.content_header_col_2
                                .anh(style="background-image:url('./img/index-img-05-356x412.jpg')")
                                .frame_background_first
                                .frame_background
                                .image_tille
                                span ACTION
                li
                    .motslide
                        .container
                            .row
                            .col-md-6.content_header_col_1
                                ul
                                li USA
                                li MAR 21, 2019
                                li IMDB: 5.8/10
                                h1
                                | Wonder 
                                br
                                |  Park
                                p
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum, dolor sit
                                | amet consectetur adipisicing elit.
                                .button_custom
                                a(href='') Watch now
                            .col-md-6.content_header_col_2
                                .anh(style="background-image:url('./img/index-img-04-356x412.jpg')")
                                .frame_background_first
                                .frame_background
                                .image_tille
                                span ACTION
        .chuyensilde
            ul
            li.kichhoat 1
            li 2
            li 3
    section.popular_movies.section_padding
        .pm_heading_text.text-center
            h2 Popular Movies
            p.p-long Here are some of the most popular movies that our users &amp; viewers enjoy.
        .container
            .owl-carousel.owl-theme
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
                h5.preview
                a(href='') View Details
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
    section.trending_tv.section_padding
        .pm_heading_text.text-center
            h2 Trending TV Shows
            p.p-long Here are some of the most popular movies that our users &amp; viewers enjoy.
        .container
            .owl-carousel.owl-theme
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
                h5.preview
                a(href='') View Details
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
            .item
                img.img__carousel(src='./img/index-img-08-356x412.jpg', alt='')
                .info_fiml.text-white
                h3.fiml_name
                    a(href='') Ready play one
                i.fas.fa-calendar-day
                h6.product_year(style='display: inline-block;') 2019
                h6.category Action
    section.popular_categories.section_padding
    .container
        .row.d-flex
        .col-md-8
            .container
            .row
                .col-md-6.mb-4.destination-1-image
                img.img-fluid(src='./img/destinations-2-363x260.jpg', alt='')
                p.theme_img TV Show
                .col-md-6.mb-4
                img.img-fluid(src='./img/destinations-2-363x260.jpg', alt='')
                .col-md-6.mb-4
                img.img-fluid(src='./img/destinations-2-363x260.jpg', alt='')
                .col-md-6.mb-4
                img.img-fluid(src='./img/destinations-2-363x260.jpg', alt='')
                .col-md-6.mb-4
                img.img-fluid(src='./img/destinations-2-363x260.jpg', alt='')
                .col-md-6.mb-4
                img.img-fluid(src='./img/destinations-2-363x260.jpg', alt='')

block footer
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
script
    include script.js
script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')