extends ../layout/common 
block link
        link(rel='stylesheet', type='text/css', href='../styles/products.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
block content
    body
      .header
        .container
          .nav_wrap.d-flex.flex-row.justify-content-between
            .logo
              img(src='/images/logo-default.png', alt='')
            form(action="/product/search", method='GET')
              input(type="text" name="name")
              button.btn
                i.fas.fa-search
      .container-fluid
        .row.wrapper_img
          .col-md-4
            .left.d-flex.flex-column
              .btn-image
                img(src='/images/slide-1.jpg', alt='')
                .content_img
                  h5
                    i.fas.fa-arrow-right
                    | Iron man 3
                  p.tille
                    | Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imp...
              .btn-image
                img(src='/images/slide-2.jpg', alt='')
                .content_img
                  h5
                    i.fas.fa-arrow-right
                    | Pirates of Caribbean
                  p.tille
                    | Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imp...
                  p
              .btn-image
                img(src='/images/slide-3.jpg', alt='')
                .content_img
                  h5
                    i.fas.fa-arrow-right
                    | Iron man 3
                  p.tille
                    | Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imp...
              .btn-image
                img(src='/images/slide-4.jpg', alt='')
                .content_img
                  h5
                    i.fas.fa-arrow-right
                    | Iron man 3
                  p.tille
                    | Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imp...
          .col-md-8
            .slider_center.prs_vp_center_slidebar_wrapper
              .slider
                div
                  img(src='/images/slide-1.jpg')
                div
                  img(src='/images/slide-2.jpg')
                div
                  img(src='/images/slide-3.jpg')
                div
                  img(src='/images/slide-4.jpg')
      .container
        .judul
          .tille_bar
            h2 LIST MOVIE WATCH
      .wrapper_products
        if films
          each val, index in films
            .container.shoe
              .icon_heart
                i.fas.fa-heart
              .productImage.shoeImg(style="background-image:url(/"+val.image[0]+")")
              .size.shoeSize
                h4 YEAR
                ul
                  li 2
                  li 0
                  li 1
                  li 9
              .price.shoePrice
                h4 PRICE
                span $150
              .color.shoeColor
                h4 COLORS
                ul
                  li
                    span.blue
                  li
                    span.yellow
                  li
                    span.red
              .productName.shoeName=val.name
              .content__down.d-flex.flex-row
                .stars  
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                .button_custom
                  a(href='/product/'+val.id) View

//-extends ../layout/common 
//- block content
      .row
        if films
          each val, index in films
            .col.my-3
              .card(style='width: 18rem;  height=50rem; box-sizing: border-box;')
                img.card-img-top(src=val.image[0], alt='Card image cap')
                .card-body
                  h5.card-title=val.name
                  p.card-file=val.description
                  a.btn.btn-primary(href='/cart/add/'+val.id) Add Cart
                  a.btn.btn-primary(href='/product/'+val.id) View
      .container
        section#grid.grid.clearfix
          a(href='#', data-path-hover='M 0,0 0,38 90,58 180.5,38 180,0 z')
            figure
              img(src='img/1.png')
              svg(viewbox='0 0 180 320', preserveaspectratio='none')
                path(d='M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z ')
              figcaption
                h2 Crystalline
                p Soko radicchio bunya nuts gram dulse.
                button View



