html
    head
        link(rel='stylesheet', type='text/css', href='../styles/css/normalize.css')
        link(rel='stylesheet', type='text/css', href='../styles/css/demo.css')
        link(rel='stylesheet', type='text/css', href='../styles/css/component.css')
    body
        .container
          section.demo-1
            .grid
              .box
                svg(xmlns='http://www.w3.org/2000/svg', width='100%', height='100%')
                  line.top(x1='0', y1='0', x2='900', y2='0')
                  line.left(x1='0', y1='460', x2='0', y2='-920')
                  line.bottom(x1='300', y1='460', x2='-600', y2='460')
                  line.right(x1='300', y1='0', x2='300', y2='1380')
                h3(style="background-size: cover;background-image: url('../images/index-img-04-356x412.jpg')") D
                span 2012
                span Marmalade, Honey


